<!DOCTYPE html>
<html>
	<head>
		<title>Semantic HTML</title>
		<!--  <link rel="stylesheet" href="basicStyling.css">  -->
		<link rel="stylesheet" href="boxModel.css">
	</head>
	<body>
		<header>
			<h1>Brown Coffee</h1>
		</header>
		<article>
			<section>
				<p>Coffee is a beverage brewed from roasted coffee beans. Darkly colored, bitter, and slightly acidic, coffee has a stimulating effect on humans, primarily due to its caffeine content. It has the highest sales in the world market for hot drinks</p>
				<div style="border-style:solid; background-color: yellow">
					<aside class="box">
						<div style="border-style:solid; background-color: green">
							<p>A coffee bean is a seed from the Coffee plant and the source for coffee.</p>
							<p>It is the pit inside the red or purple fruit</p>
						</div>
					</aside>
				</div>
				<p>Coffee production begins when the seeds of the Coffee plant's fruits (coffee cherries) are separated to produce unroasted green coffee beans. The beans are roasted and then ground into fine particles.</p>
			</section>
		</article>
		<footer>
			<p>Company A - Address B</p>
			<p>Phone: 123456</p>
			<p>Email: 123@a.b</p>
		</footer>
	</body>
</html>