<!DOCTYPE html>
<html>
	<head>
		<title>Semantic HTML</title>
		<link rel="stylesheet" href="cssLayout.css cssResponsive.css">
	</head>
	<body>
		<header style="border-style:solid">
			<h1>Brown Coffee</h1>
		</header>
		<h2>Using Float</h2>
		<div>
			<div class="menu">
				<p>	<a href="">Product List</a> </p>
				<p>	<a href="">Shopping</a> </p>
				<p>	<a href="">Payment</a> </p>
				<p>	<a href="">Add payment method</a> </p>
			</div>
			<article>
				<section>
					<p>Coffee is a beverage brewed from roasted coffee beans. Darkly colored, bitter, and slightly acidic, coffee has a stimulating effect on humans, primarily due to its caffeine content. It has the highest sales in the world market for hot drinks</p>
						<aside class="box">
							<p>A coffee bean is a seed from the Coffee plant and the source for coffee.</p>
							<p>It is the pit inside the red or purple fruit</p>
						</aside>
					<p>Coffee production begins when the seeds of the Coffee plant's fruits (coffee cherries) are separated to produce unroasted green coffee beans. The beans are roasted and then ground into fine particles.</p>
				</section>
			</article>
		</div>
		
		<h2>Using Flex</h2>
		<div class="flexDiv">
			<div class="flexMenu">
				<p>	<a href="">Product List</a> </p>
				<p>	<a href="">Shopping</a> </p>
				<p>	<a href="">Payment</a> </p>
				<p>	<a href="">Add payment method</a> </p>
			</div>
			<article class="flexContent">
				<section>
					<p>Coffee is a beverage brewed from roasted coffee beans. Darkly colored, bitter, and slightly acidic, coffee has a stimulating effect on humans, primarily due to its caffeine content. It has the highest sales in the world market for hot drinks</p>
						<aside class="box">
							<p>A coffee bean is a seed from the Coffee plant and the source for coffee.</p>
							<p>It is the pit inside the red or purple fruit</p>
						</aside>
					<p>Coffee production begins when the seeds of the Coffee plant's fruits (coffee cherries) are separated to produce unroasted green coffee beans. The beans are roasted and then ground into fine particles.</p>
				</section>
			</article>
		</div>
		
		<h2>Using Grid</h2>
		<div class="gridDiv">
			<div>
				<p>	<a href="">Product List</a> </p>
				<p>	<a href="">Shopping</a> </p>
				<p>	<a href="">Payment</a> </p>
				<p>	<a href="">Add payment method</a> </p>
			</div>
			<article>
				<section>
					<p>Coffee is a beverage brewed from roasted coffee beans. Darkly colored, bitter, and slightly acidic, coffee has a stimulating effect on humans, primarily due to its caffeine content. It has the highest sales in the world market for hot drinks</p>
						<aside class="box">
							<p>A coffee bean is a seed from the Coffee plant and the source for coffee.</p>
							<p>It is the pit inside the red or purple fruit</p>
						</aside>
					<p>Coffee production begins when the seeds of the Coffee plant's fruits (coffee cherries) are separated to produce unroasted green coffee beans. The beans are roasted and then ground into fine particles.</p>
				</section>
			</article>
		</div>
		
		<footer style="border-style:solid">
			<p>Company A - Address B</p>
			<p>Phone: 123456</p>
			<p>Email: 123@a.b</p>
		</footer>
	</body>
</html>